/synpdf_182/node_modules/
/synpdf_182/smallerpdfs/
/synpdf_182/pdfs-copy-regsize/
/synpdf_182/old-play-files/
/synpdf_182/editmode-loadfiles/
/hd-pdfs/
/pdfs/
/fonts/
/monkeywrenchdb.code-workspace
/phpfiles/config.php
/phpfiles/auth_config.php
sessions/
/sync-test/
/ImageMagick-7.1.1-39/
.env
missing_ids.txt
youtube_ids.txt
fast-dtw.ipynb
strip-cs-file
cs-stripped-output.txt
client_secret_1092592565682-h7sd76u9qt69629fob6r2u8u8mul8g50.apps.googleusercontent.com.json

*.sql
phpfiles/cloudflare_config.php

assets/previews/
audio_cache/
inspect_start.py
manual_rec1.json
manual_rec2.json
notebooks/.ipynb_checkpoints/
notebooks/improved-dtw.ipynb
scripts/__pycache__/
