/synpdf_182/node_modules/
/synpdf_182/smallerpdfs/
/synpdf_182/pdfs-copy-regsize/
/synpdf_182/old-play-files/
/pdfs/
/fonts/
/monkeywrenchdb.code-workspace
/phpfiles/config.php
cs-stripped-output.txt
strip-cs-file
/sync-test/
fast-dtw.ipynb
/ImageMagick-7.1.1-39/
/hd-pdfs/
.env
missing_ids.txt
youtube_ids.txt