/synpdf_182/node_modules/
/synpdf_182/smallerpdfs/
/synpdf_182/pdfs-copy-regsize/
/synpdf_182/old-play-files/
/synpdf_182/editmode-loadfiles/
/hd-pdfs/
/pdfs/
/fonts/
/monkeywrenchdb.code-workspace
/phpfiles/config.php
/sync-test/
/ImageMagick-7.1.1-39/
.env
missing_ids.txt
youtube_ids.txt
fast-dtw.ipynb
strip-cs-file
cs-stripped-output.txt